# currently only {player_name} and {message} are supported
# unless you have PlaceholderAPI installed, which uses %
# all available LucidChat placeholders can be found here:
# %lucidchat_tag% - the player's current tag (if any)
# %lucidchat_chatcolor% - the player's current chat color (if any)
# %lucidchat_icon% - the player's current icon (if any)
format: "{player_name}: {message}"

prefix: "&b&lCHAT &f&l| &f"
chat-muted: "&c&l✖ &The chat is currently muted!"

auto-announcer:
  interval: 60 # in seconds. set to 0 to disable
  prefix: "&7[&cAnnouncement&7]"
  messages:
    - "This is a test message!"
    - "This is another test message!"
    - "This is a third test message!"
    - "This is a fourth test message!"

# Use this to override commands that are already registered
# by other plugins or the server itself. This is useful for
# blocking commands that you don't want players to use such
# as /pl, /plugins, /ver, /version, etc.
override-commands:
  commands:
    - "pl"
    - "plugins"
    - "ver"
    - "version"
    - "icanhasbukkit"
    - "about"
    - "bukkit:pl"
    - "bukkit:plugins"
    - "bukkit:ver"
    - "bukkit:version"
    - "bukkit:icanhasbukkit"
    - "bukkit:about"
    - "minecraft:help"
    - "?"
  message: "&c&l✖ &cThis command is disabled!"